@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 350ms;
}
body{
  @apply dark:bg-gray-900 bg-gray-100;
}
.checkbox{
  cursor: pointer;
  position :relative;
}
.checkbox:hover{
  border: 2.5px solid hsl(280, 87%, 65%);
}
.checkbox:checked{
  background-image: linear-gradient(to  bottom right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%) );
  border-color: transparent;
}
.check-img{
  background-image: url('../assets/images/icon-check.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center center;
  position:absolute;
  cursor: pointer;
  pointer-events: none;
}

.delete-btn{
  display: none;
}
.list-item:hover .delete-btn{
  display: block;
}